@import './theme.scss';

@for $i from 1 through 5 {
  .m-#{$i} {
    margin: $i * 1rem;
  }
  .mt-#{$i} {
    margin-top: $i * 1rem;
  }
  .mb-#{$i} {
    margin-bottom: $i * 1rem;
  }
  .ml-#{$i} {
    margin-left: $i * 1rem;
  }
  .mr-#{$i} {
    margin-right: $i * 1rem;
  }
}
@for $i from 1 through 5 {
  .p-#{$i} {
    padding: $i * 1rem;
  }
  .pt-#{$i} {
    padding-top: $i * 1rem;
  }
  .pb-#{$i} {
    padding-bottom: $i * 1rem;
  }
  .pl-#{$i} {
    padding-left: $i * 1rem;
  }
  .pr-#{$i} {
    padding-right: $i * 1rem;
  }
}
$base-color: #e3e6e8; // #f5f7f9;
$contrast-color: #fff;
%box {
  background-color: $contrast-color;
  border-radius: 1rem;
}
img {
  max-width: 100%;
  background-size: cover;
}
.ml-10 {
  margin-left: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
