$themes: (
  light: (
    baseColor: white,
    contrstColor: black,
    backgroundColor: darken(white, 10%), //#e3e6e8,
    textColor: lighten(black, 15%),
    contentBgColor: darken(white, 17%),
    contentTextColor: lighten(black, 20%),
    contentTextHoverColor: lighten(black, 50%),
    borderColor: rgba(102, 102, 102, 0.33),
    tableHeader: darken(white, 12%),
    headerTag: #606971,
    stripOdd: #e9eaec,
    stripEven: #f5f7f9,
  ),
  dark: (
    baseColor: black,
    contrstColor: white,
    backgroundColor:lighten(black, 15%),
    textColor: darken(white, 15%),
    contentBgColor: lighten(black, 20%),
    contentTextColor: darken(white, 20%),
    contentTextHoverColor: darken(white, 50%),
    borderColor: rgba(7, 1, 1, 0.33),
    tableHeader: lighten(black, 12%),
    headerTag:lighten(black, 60%),
    stripOdd: lighten(black, 15%),
    stripEven: lighten(black, 17%),
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
