<template>
  <div class="home">
    <div class="content">
      <MyIntro class="my-intro"/>
      <div class="my-work">
        <Experience class="experience-wrapper" v-for="({title, demo, points, tags}, index) in EXPERIENCES"
          :title="title"
          :demo="demo"
          :points="points"
          :tags="tags"
          :index="index"
          :key="index"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  @include themify($themes) {
    background-color: themed('backgroundColor');
    color: themed('textColor');
    transition-property: background-color, color;
    transition-duration: 1s;
  }
  @media (min-width: $mediaMaxWidth) {
    .content{
      overflow: auto;
    }
    .my-intro {
      width: 380px;
      position: sticky;
      position: -webkit-sticky;
      top: 22.5px;
    }
    .experience-wrapper {
      padding: 10px;
      box-sizing: border-box;
      margin: 7.5px;
    }
    .my-work {
      padding: 15px 22.5px 0px 0px;
      width: 800px;
      margin-left: 7.5px;
    }
    .experience-wrapper:nth-of-type(5){
      margin-bottom: 22.5px;
    }
    .experience-wrapper:nth-of-type(6){
      margin-bottom: 22.5px;
    }
  }
  @media (max-width: $mediaBp1Width) {
    .content {
      width: 100%;
      padding: 0px 15px;
      margin: 15px 0px;
      overflow-y: scroll;
    }
    .my-intro {
      width: 100%;
      margin: 15px 0px 7.5px 0px;
    }
    .experience-wrapper {
      width: 100%;
      padding: 10px;
      margin: 7.5px 0px;
      box-sizing: border-box;
    }
    .my-work {
      width: 100%;
    }
  }
  @media (min-width: 481px) and (max-width: 1259px) { // ipad resolution
    .my-work {
      justify-content: center;
    }
    .my-intro {
      margin: 15px 7.5px 7.5px 7.5px;
      width: 772px;
    }
    .experience-wrapper {
      margin: 7.5px;
      width: 772px;
    }
  }
  .content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    overflow-y: scroll;
    .my-work {
      display: flex;
      height: 100%;
      flex-flow: row wrap;
      align-content: flex-start;
    }
    .experience-wrapper {
      @include themify($themes) {
        background-color: themed('contentBgColor');
        color: themed('contentTextColor');
        transition-property: background-color, color;
        transition-duration: 1s;
      }
    }
    .experience-wrapper:nth-of-type(6){
      margin-bottom: 22.5px;
    }
    .my-intro {
      @include themify($themes) {
        background-color: themed('contentBgColor');
        color: themed('contentTextColor');
        transition-property: background-color, color;
        transition-duration: 1s;
      }
    }
  }
}
</style>
<script>
import MyIntro from '@/components/MyIntro';
import Experience from '@/components/Experience';
import { EXPERIENCES } from './home.constants';
export default {
  name: 'Home',
  components: {
    MyIntro,
    Experience,
  },
  data() {
    return {
      EXPERIENCES,
    }
  }
}
</script>
