<template>
  <div class="experience" :date-name="title.text" :style="getStyle">
    <div class="header">
      <a v-if="title.link.length" :href="title.link" target="_blank" rel="noopener">
        <h3 class="title">
           {{title.text}}
        </h3>
      </a>
      <h3 v-else class="title">
        {{title.text}}
      </h3>
      <div class="demo" v-if="demo && demo.code.length">
        <a :href="demo.web" class="ml-1" target="_blank" rel="noopener">
          <font-awesome-icon :icon="[ 'fa', 'desktop' ]" title="Please click here to see live demo"/>
        </a>
        <a :href="demo.code" class="ml-1" target="_blank" rel="noopener">
          <font-awesome-icon :icon="[ 'fa', 'code' ]" title="Please click here to view code repository"/>
        </a>
      </div>
    </div>
    <div class="middle">
      <ul>
        <li v-for="(line,i) in points" :key="i">
          {{line}}
        </li>
      </ul>
    </div>
    <div class="footer pb-10">
      <label v-for="(tag,i) in tags" :key="i" class="tag">{{tag}}</label>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.experience {
  @extend %box;
  width: 380px;
  height: fit-content;
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: both;
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.75;
    }
    75% {
      opacity: 1;
    }
    to {
      transform: none;
    }
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
    h3 {
      margin: 0px;
    }
  }
  a {
    transition-property: background-color, color;
    transition-duration: 1s;
    @include themify($themes) {
      color: themed('contentTextColor');
    }
    text-decoration: none;
    &:hover {
       @include themify($themes) {
        color: themed('contentTextHoverColor');
      }
    }
  }
  li {
    text-align: initial;
    padding-bottom: 10px;
  }
  .align-initial {
    text-align: initial;
  }
  .tag {
    @include themify($themes) {
      background-color: themed('backgroundColor');
      transition-property: background-color;
      transition-duration: 1s;
    }
    padding: .2em .3em;
    margin: 2px 2px 2px 5px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 0px;
    border-style: solid;
    border-radius: 3px;
    border-color: transparent;
  }
  .footer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}
</style>
<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  name: 'Experience',
  props: {
    title: Object,
    points: Array,
    tags: Array,
    demo: Object,
    index: Number
  },
  computed: {
    getStyle() {
      return {'animation-delay': this.index * 0.1 + 's'}
    },
  }
})
</script>
