<template>
  <div class="my-intro pb-1" ref="introContainer">
    <h1>Parth Patel</h1>
    <div :style="{height: `${imgContainerHeight - 30}px` }" class="imgContainer">
      <img class="my-photo" src="../assets/Parth_Photo.webp" alt="Parth">
    </div>
    <h3>Senior Software Engineer</h3>
    <div>
      <button @mouseenter="isResumeHover = true" @mouseleave="isResumeHover = false">
        <a download class="a-plain" :href="`${publicPath}doc/Parth_Resume.pdf`" target="_blank" rel="noopener">{{isResumeHover ? 'Download' : 'Resume'}}</a>
      </button>
    </div>
    <div class="mt-1 logo">
      <a href="https://github.com/hello2parth" target="_blank" rel="noopener">
        <img class="github" src="../assets/logo/GitHub-Mark-64px.png" alt="github">
      </a>
      <a href="https://gitlab.com/hello2parth" target="_blank" rel="noopener">
        <img src="../assets/logo/gitlab-icon-rgb.png" alt="gitlab">
      </a>
      <a href="https://in.linkedin.com/in/hello2parth" target="_blank" rel="noopener">
        <img class="linkedIn" src="../assets/logo/LI-In-Bug.png" alt="linkedIn">
      </a>
      <a href="https://twitter.com/_parthpatel" target="_blank" rel="noopener">
        <img src="../assets/logo/Twitter_Logo_Blue.png" alt="twitter">
      </a>
    </div>
    <div class="mt-1 themeContainer">
      <div @click="changeTheme()" title="Change theme">
        <svg class="dark" v-if="isThemeLight" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
        <svg class="sun" v-else width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffc107" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="5"></circle>
          <line x1="12" y1="1" x2="12" y2="3"></line>
          <line x1="12" y1="21" x2="12" y2="23"></line>
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
          <line x1="1" y1="12" x2="3" y2="12"></line>
          <line x1="21" y1="12" x2="23" y2="12"></line>
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </svg>
      </div>
    </div>
    <div class="mt-1">
      Made with using
      <div class="logo pt-1">
        <a href="https://vuejs.org/" target="_blank" rel="noopener">
          <img class="vue" src="../assets/logo/vue.png" alt="vue">
        </a>
        <a href="https://webpack.js.org/" class="webpack-logo" target="_blank" rel="noopener">
          <img src="../assets/logo/webpack_big.png" alt="webpack">
        </a>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.my-intro {
  @extend %box;
  height: max-content;
  display: flex;
  flex-direction: column;
  .imgContainer {
    display: flex;
    justify-content: center;
  }
  .my-photo {
    box-sizing: border-box;
    padding: 0 15px;
    max-width: 100%;
    margin-bottom: 1rem;
    background-size: cover;
    animation: 60s ease 0s infinite normal none running polygonKeyFrames;
    @keyframes polygonKeyFrames {
      0% {
        clip-path: polygon(5% 0px, 100% 0px, 100% 95%, 95% 100%, 0px 100%, 0px 5%);
      }
      10% {
        clip-path: polygon(17% 0px, 100% 0px, 100% 83%, 83% 100%, 0px 100%, 0px 17%);
      }
      30% {
        clip-path: polygon(33% 0px, 100% 0px, 100% 66%, 66% 100%, 0px 100%, 0px 33%);
      }
      50% {
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      }
      70% {
        clip-path: polygon(66% 0px, 100% 33%, 100% 100%, 33% 100%, 0px 66%, 0px 0px);
      }
      90% {
        clip-path: polygon(83% 0px, 100% 17%, 100% 100%, 17% 100%, 0px 83%, 0px 0px);
      }
      99% {
        clip-path: polygon(5% 0px, 100% 0px, 100% 95%, 95% 100%, 0px 100%, 0px 5%);
      }
    }
  }
  button {
    @include themify($themes) {
      background-color: themed('contentBgColor');
      border-color: themed('contentTextColor');
      transition-property: background-color, border-color, transform;
      transition-duration: 1s;
    }
    all: unset;
    padding: 4px;
    border-radius: .25rem;
    border: 1px solid;
    &:hover{
      @include themify($themes) {
        background-color: themed('backgroundColor');
        transition-property: background-color, border-color, transform;
        transition-duration: 1s;
      }
      transform: translateY(15%);
      transition-property: transform;
      transition-duration: 0.3s;
    }
  }
  .a-plain {
    @include themify($themes) {
      color: themed('contentTextColor');
      transition-property: color;
      transition-duration: 1s;
    }
    text-decoration: none;
  }
  .logo {
    display: flex;
    height: 48px;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: space-around;
    flex: 0 1 auto;
    img {
      object-fit: cover;
      height: 100%;
      width: 65px;
      object-fit: scale-down;
    }
    .github {
      height: 39px;
      padding-top: 12px;
    }
    a {
      width: 65px;
      height: 65px;
      img {
          transition: all 0.3s;
          &:hover {
            transform: scale(1.1)
          }
      }
    }
    .vue {
      height: 48px;

    }
    .webpack-logo {
      height: 48px;
    }
    .linkedIn {
      height: 40px;
      width: 43px;
      margin-top: 12px;
    }
  }
  .sun {
    &:hover {
      animation-name: circuler-motion;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-delay: 0.5s;
      @keyframes circuler-motion {
        0% {
          transform: rotate(0deg)
        }
        100% {
          transform: rotate(360deg)
        }
      }
    }
  }
  .dark {
    &:hover {
     @include themify($themes) {
        fill: #333333;
        transform: scale(1.2);
        transition: transform, fill 0.3s;
      }
    }
  }
  .themeContainer {
    display: flex;
    justify-content: center;
    div {
      cursor: pointer;
    }
  }
}
</style>
<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  name: 'MyIntro',
  data() {
    return {
      publicPath: process.env.BASE_URL,
      isResumeHover: false,
      imgContainerHeight: undefined,
    }
  },
  mounted() {
    this.mql = window.matchMedia('(prefers-color-scheme: light)');
    this.mql.addListener(this.onSystemThemeChange)
    this.onSystemThemeChange(this.mql);
    this.calcImgHeight();
    window.addEventListener('resize', this.calcImgHeight);
  },
  unmounted() {
    this.mql.removeListener(this.onSystemThemeChange);
    window.removeEventListener('resize', this.calcImgHeight);
  },
  computed: {
    isThemeLight() {
      return this.$store.state.isThemeLight;
    }
  },
  methods: {
    changeTheme(value) {
      this.$store.commit('updateTheme', typeof value === 'boolean' ? value : !this.isThemeLight);
    },
    onSystemThemeChange(e) {
      this.changeTheme(e.matches);
    },
    calcImgHeight() {
      if (this.$refs.introContainer) {
        this.imgContainerHeight = this.$refs.introContainer.getBoundingClientRect().width;
      } else {
        this.imgContainerHeight = undefined;
      }
    }
  }
})
</script>
