<template>
  <div id="app" :class="getTheme">
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
html, body, #app {
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    animation-delay: 0s !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
</style>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  computed: {
    getTheme() {
      return this.$store.state.isThemeLight ? 'theme-light' : 'theme-dark';
    },
  }
})
</script>
